.main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
align-content: center;

}
.board{
    width: 75vw;
    height: 75vh;
    border: 2px solid black;
    /* margin: auto; */
    position: relative;
    display: flex;
    justify-content: center;
}
.target{
    width: 5%;
    height: 8%;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    align-self: center; 
     justify-self: center;
}
.catcher{
    width: 5%;
    height: 8%;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: -8%;
    box-sizing: border-box;
    align-self: center;
   
    /* justify-self: center; */
}
.counter{
    border: 2px solid black;
    height: 10vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.directionBox{
    border: 2px solid black;
    height: 30vh;
    width: 10vw;
    position: absolute;
    right: -14%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.leftRightBox{
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}